.item-first, #tree {
    margin-top: 15px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover, a:visited, .toggle-form {
    text-decoration: none;
}
.form-group {
    margin: 10px 0px;
}
.dataTable_wrapper {
    display: none;
}
h1 {
    background-color: #ccccff;
}

.report-menu {
    /*background-color: #ff9e14;*/
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.navbar-form {
    margin-top: 0px;    
}